<div class="navbar navbar-inverses">
  <div class="navbar-inner">
    <div class="container">
	
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
			<%= link_to root_path, :class => 'brand' do %>
				mytop<span class="logo-mini-10">10</span>
				
			<% end %>
      <div class="nav-collapse collapse in" id="nav-collapse-01">
        <ul class="nav">
					<li class="nav-big-text"><%= link_to "<i class='fui-loop'></i>".html_safe, '' %></li>
					<li class="nav-big-text"><%= link_to "<i class='fui-star-2'></i>".html_safe, '' %></li>
					<li class="nav big-text"><a href="#/playlist/new"><i class="fui-plus"></i></a></li>
        </ul>				


				<ul class="nav pull-right">
					<li class="divider"></li>
					<% if true %>
						<li class="dropdown nav-big-text"><%= link_to "tyb <b class='caret'></b>".html_safe, '' %>						
						</li>
					<% else %>
						<li class="nav-big-text"><%= link_to "sign up", '' %></li>
						<li class="nav-big-text"><%= link_to "sign in", '' %></li>
					<% end %>
				</ul>
      </div>

    </div>
  </div>
</div>