<!DOCTYPE html>
<html ng-app="topten">
<head>
  <title>mytop10</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => 'layouts/nav' %>
	
	<div class="yield-container">
		
		<div id="loading"><b>Loading...</b></div>
		
		<%= yield %>
		
	</div>
	
	<div class="bottom-menu bottom-menu-inverses">
	  <div class="container">
			<ul class="bottom-icons pull-right">
			    <li><%= link_to "", '', :class => 'fui-twitter'%></li>
					<li><%= link_to "", '', :class => 'fui-facebook'%></li>
					<li><%= link_to "", '', :class => 'fui-googleplus'%></li>
					
			  </ul>
	  </div>
	</div>
	


</body>
</html>
